/* Nav Bar Styles */

.site-nav {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%; 
  background: linear-gradient(0deg, rgb(47 118 183 / 88%) 0%, rgb(105 152 171 / 88%) 100%);
}
.site-navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  padding-top: 10px;
  padding-bottom: 10px; 
}
  .site-nav h1 {
    margin: 0;
    padding: 0;
    font-size: 24px; }
  .site-nav .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-nav .site-navigation .site-menu > li {
      display: inline-block; }
      .site-nav .site-navigation .site-menu > li > a {
        font-size: 14px;
        padding: 10px 15px;
        display: inline-block;
        text-decoration: none !important;
        color: rgba(255, 255, 255, 0.7); }
        .site-nav .site-navigation .site-menu > li > a:hover {
          color: #ffffff; }
      .site-nav .site-navigation .site-menu > li.cta-button a {
        padding: 6px 20px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        color: #000000;
        border-radius: 30px; }
        .site-nav .site-navigation .site-menu > li.cta-button a:hover {
          color: #000000;
          background: #1A374D;
          border-color: #1A374D; }
      .site-nav .site-navigation .site-menu > li.active > a {
        color: rgba(255, 255, 255, 0.7); }
        .site-nav .site-navigation .site-menu > li.active > a:hover{
          color: #ffffff;
        } 
    .site-nav .site-navigation .site-menu .has-children {
      position: relative; }
      .site-nav .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-nav .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 14px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-nav .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        z-index: 999;
        position: absolute;
        text-align: left;
        box-shadow: -14px 6px 10px -2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 20px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #ffffff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-nav .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            display: none;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #ffffff;
            border-width: 10px;
            margin-left: -10px; }
        .site-nav .site-navigation .site-menu .has-children .dropdown a {
          font-size: 14px;
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000000; }
        .site-nav .site-navigation .site-menu .has-children .dropdown .active a {
          color: #1A374D !important; }
        .site-nav .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 180px; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 5px 20px;
            display: block; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              color: #1A374D; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
            .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown li a:hover, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children > ul li a:hover {
              color: #1A374D; }
          .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-nav .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            color: #1A374D; }
      .site-nav .site-navigation .site-menu .has-children:hover > a, .site-nav .site-navigation .site-menu .has-children:focus > a, .site-nav .site-navigation .site-menu .has-children:active > a {
        color: #ffffff; }
      .site-nav .site-navigation .site-menu .has-children:hover, .site-nav .site-navigation .site-menu .has-children:focus, .site-nav .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-nav .site-navigation .site-menu .has-children:hover > .dropdown, .site-nav .site-navigation .site-menu .has-children:focus > .dropdown, .site-nav .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }
